html {
  height: 100%;
  font-family: arial, sans-serif;
  color: #1f1f1f;
  font-size: 13px;
  float: right;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

header {
   display: flex;
   justify-content: flex-end;
   flex-shrink: 0;
   height: 64px;
   align-items: center;
   padding-right: 27px;
}

header > a {
   padding-left: 15px;
}

.mobile {
   display: none;
}

.mobileMenu {
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   top: 0;
   left: 0;
   width: 100%;
   max-width: 300px;
   height:  100vh;
   z-index: 2;
   border-right: 1px solid #c6c6c6;
   background: #FFF;
   -ms-transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
   transition: all 0.3s linear;
}

.mobileMenu.open {
   transform: translateX(0);
}

.mobileMenu .close {
   position: absolute;
   width: 15px;
   top: 10px;
   right: 15px;
   z-index: 3;
   cursor: pointer;
}

.mobileMenu .close:hover path {
   fill: #000;
}


.mobileMenu .header{
   background-color: #e0e0e0;
   padding: 20px;
   position: relative;
   border-bottom: 1px solid #c6c6c6;
}

.mobileMenu .header .icons {
   bottom: 0;
   position: absolute;
   right: 10px;
}

.mobileMenu .header .profilePhotoBig{
   max-width: 85px;
   width: 30%;
   cursor: pointer;
   display: inline-block;
}

.mobileMenu .header .data{
   display: inline-block;
   margin-left: 10px;
   vertical-align: baseline;
   color: #686868;
}

.mobileMenu .header .data .username {
   font-weight: bold;
   font-size: 15px;
}

.mobileMenu .links {
   list-style: none;
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   -webkit-padding-start: 0px;
}

.mobile .links li {
   padding: 10px 20px;
   background-color: #F2F2F2;
   border-top: 1px solid #F2F2F2;
   border-bottom: 1px solid #F2F2F2;
}

.mobile .links li:hover {
   border-top: 1px solid #c6c6c6;
   border-bottom: 1px solid #c6c6c6;
}

.mobile .links li.divider {
   background-color: #FFF;
   border-top: 1px solid #FFF;
   border-bottom: 1px solid #FFF;
   padding: 5px;
}

.hamburguer {
   position: fixed;
   width: 30px;
   top: 30px;
   left: 30px;
   cursor: pointer;
   z-index: 1;
}

.hamburguer rect {
   fill: #686868;
   transition: all 0.2s linear;
}

.hamburguer:hover rect {
   fill: #000;
}

.bellIcon {
   width: 20px;
   margin: 5px;
}

.bellIcon:hover path {
   fill: #000;
}

.gridIcon {
   width: 24px;
   margin: 6px;
}

.gridIcon:hover path {
   fill: #000;
}

.profilePhoto {
   width: 30px;
   height: 30px;
}

.wrapper {
   flex: 1 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo {
   display: block;
   margin: 0 auto 30px;
   max-width: 272px;
   width: 50vw;
}

.inputWrapper {
   position: relative;
   width: 42vw;
   margin: 0 auto 30px;
}

.inputWrapper > .icon {
   position: absolute;
   top: 50%;
   right: 20px;
   height: 24px;
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   cursor: pointer;
}

.searchInput {
   box-sizing:  border-box;
   width: 100%;
   display: block;
   padding: 15px 54px 15px 15px;
   border: 1px solid #e1e1e1;
   -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.4);
   -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.4);
   box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.4);
   box-sizing: border-box;
}

.buttons {
   text-align: center;
   margin-bottom: 30px;
}

.button {
   display: inline-block;
   background-color: #f2f2f2;
   border-radius: 2px;
   border: 1px solid #f2f2f2;
   color: #757575;
   padding: 8px 16px;
   font-weight: bold;
   margin-right: 10px;
   cursor: pointer;
}

.button:hover {
   border: 1px solid #c6c6c6;
   color: #000;
}

.button:last-child {
   margin: 0;
}

.offered {
   text-align: center;
}

.offered a {
   color: #1600a5;
}

footer {
   flex-shrink: 0;
   display: flex;
   height: 40px;
   background-color: #f0f0f0;
   justify-content:  space-between;
   align-items: center;
   border-top: 1px solid #e0e0e0;
}

.leftMenu a,
.rightMenu a {
   color: #666;
}

.leftMenu a {
   padding-left: 27px;
}

.rightMenu a {
   padding-right: 27px;
}


@media (max-width: 1023px) {
   .desktop {
      display: none;
   }

   .mobile {
      display: block;
   }

   .inputWrapper {
      width: 80vw;
   }

   .button {
      display: block;
      margin: 0 0 10px;
   }

   .button:last-child {
      margin: 0;
   }

   .offered .langs {
      margin-top: 10px;
      display: block;
   }
}
